/*side bar*/
@use 'variables';
%sidebar{
        width: 8%;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
        height: 100%;
        border-right: variables.$main-border;
        
        justify-content: start;
        align-items: center;
        .logo { 
            margin-top: 25px;
            height: 3%;
            img {
            border-radius:100%;
            object-fit: cover;
            height: 100%;
            }
        }
        .navBar{
            display:flex;
            flex-flow: column wrap;
            justify-content: space-between;

        }
        .navItem {
        color: variables.$secondary-item-grey;
        font-size: 100%;
        display: variables.$display;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        align-items: center;
    }
}

/*head nav bar. including search bar and dates*/

/*basic flag box structure*/

%matchesBox {
  width: 90%;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border-radius: variables.$main-rounded-corners;
  .live {
    background-color: variables.$liveBackground;
    padding: 8px;
    border-radius: 5px;
    color: white;
  }
  .soon {
    background-color: variables.$scoreBackground;
    padding: 8px;
    border-radius: 5px;
  }
  .live > a,
  .soon > a {
    text-decoration: none;
  }
  .score {
    background-color: variables.$scoreBackground;
    padding: 8px;
    border-radius: 5px;
  }
}
/*dashboard extension*/
%dashboardMain {
  width: variables.$hundred;
  margin: 0;
  margin-bottom: 25px;
  border-radius: 0px 20px 0px 0px;
  
  padding: 20px 20px 0 0;
  background-color: white;
  border-bottom: variables.$main-border;
  .row {
    display: variables.$display;
    align-items: variables.$center;
    font-size: large;
    font-weight: 500;
    h2 {
    flex-grow: 2;
    }
    .search {
      background-color: variables.$main-background-color;
      border: variable.$main-border;
    }
   .blueBorderClass {
    border-bottom: variables.$blue-border;
   }
    .dashItem {
        padding: 0px 20px 2px 20px;
        margin: 0;
    }
  }
  .row:nth-child(1) {
    padding-left:20px;
}
}
.fa-bell {
  margin-left: 15px;
}
/*span images*/
