/*side bar*/
@use 'variables';
.navBar {
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: variables.$main-rounded-corners;
    .navItem {
    color: variables.$secondary-item-grey;
     .navBlueItem {
        color: variables.$main-blue;
     }
    }
}

/*head nav bar. including search bar and dates*/