/*side bar*/
@use 'variables';
%sidebar{
        width: 8%;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
        height: 100vh;
        border-right: variables.$main-border;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
        .logo img {
            border-radius: variables.$main-rounded-corners, 0px;
            object-fit: cover;
            height: 40%;
            margin-top: 25px;
        }
        .navBar{
            display:flex;
            flex-flow: column wrap;
            justify-content: space-around;

        }
        .navItem {
        color: variables.$secondary-item-grey;
        font-size: 100%;
    }
}

/*head nav bar. including search bar and dates*/

/*basic flag box structure*/

%matchesBox {
  width: 90%;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border-radius: variables.$main-rounded-corners;
  .live {
    background-color: variables.$liveBackground;
    padding: 8px;
    border-radius: 5px;
    color: white;
  }
  .soon {
    background-color: variables.$scoreBackground;
    padding: 8px;
    border-radius: 5px;
  }
  .live > a,
  .soon > a {
    text-decoration: none;
  }
  .score {
    background-color: variables.$scoreBackground;
    padding: 8px;
    border-radius: 5px;
  }
}
/*dashboard extension*/
%dashboardMain {
  width: variables.$hundred;
  flex-flow: variables.$column;
  margin: 0;
  margin-bottom: 25px;
  margin-top:25px;
  padding: 20px;
  background-color: white;
  border-bottom: variables.$main-border;
  .row {
    display: variables.$display;
    flex-flow: variables.$row;
    justify-content: space-between;
    align-items: variables.$center;
    font-size: large;
    font-weight: 600;
  }
  
}
