$main-background-color: #E2E4E9;
$main-blue: #3762ED;
$secoundary-blue: #E1E8FD;
$main-orange: #EEA45F;
$primary-neon-green: #4CEE3F;
$primary-bright-red: #EB2323;
$secondary-item-grey: #8A8F9D;
$main-rounded-corners: 20px;


//Matches Page
$scoreBackground: #f0f3ff;
$liveBackground:#F53D3D;