$main-background-color: #E2E4E9;
$main-blue: #3762ED;
$secoundary-blue: #E1E8FD;
$main-orange: #EEA45F;
$primary-neon-green: #4CEE3F;
$primary-bright-red: #EB2323;
$secondary-item-grey: #8A8F9D;
$main-rounded-corners: 20px;
$bodyBackGround: #d1d4d9;
$pZero: 0;

$hundred: 100%;
$ninety: 90%;
$mainContentWidth: 80%;

$display: flex;
$row: row wrap;
$column: column wrap;
$center: center;

$main-border: 1px lightgrey solid;
//Matches Page
$scoreBackground: #f0f3ff;
$liveBackground:#F53D3D;
$whiteColor: #FFFFFF;