@use "variables";
@use "generalLayout.scss";
body {
  margin: variables.$pZero;
  padding: variables.$pZero;
  width: variables.$hundred;
  height: variables.$hundred;
  background-color: variables.$bodyBackGround;
  display: variables.$display;
  justify-content: center;
  font-family: sans-serif;
img{
  width:50px;
}}
.container {
    width: variables.$ninety;
  display: variables.$display;
  background-color: variables.$main-background-color;
  flex-flow: variables.$row;
  margin: variables.$pZero;
  margin-top: 35px;
  padding: variables.$pZero;
  border-radius: variables.$main-rounded-corners;
  .navBar {
    @extend %sidebar;
  }
  .dashboard {
    @extend %dashboardMain;
    
  }
  .hero {
    display:variables.$display;
    flex-flow: variables.$row;
    align-items: variables.$center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    svg{
        height:100%;
    }
    img {
        width: 80%;
        object-fit: cover;
    }
}
}
.mainContent {
  display: variables.$display;
  flex-flow: variables.$row;
  width: 91.9%;
  justify-content: variables.$center;
}
.left,
.right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.shortCard {
  display: variables.$display;
  flex-direction: column;
  background-color: variables.$whiteColor;
  margin: variables.$pZero;
  padding: variables.$pZero;
  width: 93%;
  margin-bottom: 25px; 
 border-radius: variables.$main-rounded-corners;
}
  .cardHeading {
    margin:0;
    padding:0;
    display: flex;
      font-size: large;
      width: variables.$hundred;
      border-bottom: variables.$main-border;
      justify-content: variables.$center;
    }
  .cardLeft,
  .cardRight {
    margin: 15px;
    display: variables.$display;
    flex-direction: column;
    flex-grow: 1;
    .boxHeader {
      display: variables.$display;
      align-items: center;
      justify-content: end;
      img {
        padding-left: 10px;
      }

    }
    p {
      display: variables.$display;
      align-items: start;
      strong {
        padding-left: 10px;
      }
    }

  }
  .cardRight {
    border-left: variables.$main-border;
    padding-left: 20px;
  }
a {
  text-decoration: none;
}
.matchesRow {
  @extend %matchesBox;
}
/*maybe mixin?*/
.dashItem .active {
  
  color: variables.$main-blue;
}
.row .blueBorderClass {
border-bottom: variables.$blue-border;
padding: 20px;
}

.cardContainer{
  display: variables.$display;
  flex-flow: variables.$row;
  justify-content: center;
  align-content:space-between ;
}