 @use 'variables';
 @use 'generalLayout.scss';
 body {
    margin: variables.$pZero;
    padding: variables.$pZero;
    width: variables.$hundred;
    height: variables.$hundred;
    background-color: variables.$main-background-color;
    ;
}
.container {
// display: variables.$display;
// flex-flow: variables.$row;
width: variables.$hundred;
    .navBar {
        @extend %sidebar;
    }
 .dashboard {
    width: variables.$mainContentWidth;
    flex-flow: variables.$column;
    .row{
        display: variables.$display;
        flex-flow: variables.$row;
        justify-content: space-between;
        align-items: variables.$center;
    }
 }
}
.mainContent{
    display: variables.$display;
    flex-flow: variables.$column;
    width: variables.$mainContentWidth;
}
.left{
    display:variables.$display;
    flex-flow: variables.$row;
}
a{
    text-decoration: none
}
.matchesRow{
    @extend %matchesBox;
}