@use "variables";
@use "generalLayout.scss";
body {
  margin: variables.$pZero;
  padding: variables.$pZero;
  width: variables.$hundred;
  height: variables.$hundred;
  background-color: variables.$bodyBackGround;
  display: variables.$display;
  justify-content: center;
}
.container {
    width: variables.$ninety;
  display: variables.$display;
  background-color: variables.$main-background-color;
  flex-flow: variables.$row;
  margin: variables.$pZero;
  margin-top: 5px;
  padding: variables.$pZero;
  .navBar {
    @extend %sidebar;
  }
  .dashboard {
    @extend %dashboardMain;
  }
}
.mainContent {
  display: variables.$display;
  flex-flow: variables.$row;
  width: variables.$ninety;
  justify-content: variables.$center;
}
.left,
.right {
  width: 45%;
}
.shortCard {
  display: variables.$display;
  flex-flow: variables.$row;
  background-color: variables.$whiteColor;
  margin: variables.$pZero;
  padding: variables.$pZero;
  width: 70%;
  margin-bottom: 25px;
  .cardLeft,
  .cardRight {
    display: variables.$display;
    flex-flow: column;
    margin: 15px;
    .cardHeading {
      font-size: large;
      margin: 10px;
    }
  }
}
a {
  text-decoration: none;
}
.matchesRow {
  @extend %matchesBox;
}
/*maybe mixin?*/
.active {
  border-bottom: variables.$main-blue;
  color: variables.$main-blue;
}
